.track{
    border: solid rgb(52, 3, 85) 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
    letter-spacing: 0.8px;
    line-height: 1.2 ;
}

.track p{
    margin-top: 5px;
    font-weight: bold;
}

.track span{
    margin-bottom: 5px;
}