header {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 4px;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 1.6px;
}

main {
  display: grid;
  grid-template-rows: 100px auto;
  gap: 25px;
}

.sarchContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.sarchContainer button {
  width: 40%;
  height: 35px;
  margin: auto;
  border-radius: 30px;
}

.outputContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 20px;
}

.searchResultContainer {
  margin-left: 20px;
  width: 40%;
  border: #777 1px solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.playListContainer {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 40%;
  border: #777 1px solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.playListNameInput {
  padding-left: 10px;
  padding-top: 20px;
}

.playListContainer button {
  margin: 10px 0;
  width: 30%;
  align-self: center;
  border-radius: 30px;
  height: 30px;
}

button {
  transition: transform 0.1s ease;
  font-weight: bold;
  background-color: rgb(73 2 110 / 92%);
  /* color: lightcyan; */
  color: #eef9fafa;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
}