header{
  width: 100%;
  text-align: center;
  font-size: x-large;
}

main {
  display: grid;
  grid-template-rows: 100px auto;
  gap: 25px;
}

.sarchContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.sarchContainer button {
  width: 40%;
  height: 30px;
  margin: auto;
  border-radius: 30px;
}

.outputContainer{
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 20px;
}

.searchResultContainer{
  margin-left: 20px;
  width: 40%;
}

.playListContainer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 40%;
}

.playListNameInput{
  padding: 0 10px;
}

.playListContainer button{
  margin-top: 20px;
  width: 30%;
  align-self: center;
  border-radius: 30px;
  height: 30px;
}

button{ 
  transition: transform 0.1s ease;
  font-weight: bold;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:active{
  transform: scale(0.95);
}